@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 2em;
}

h1 {
  font-weight: 600;
}

.logo {
  width: 60px;
  height: auto;
}

/* ----- Form styles ----- */

label {
  font-size: 0.9em;
  display: none;
}

input.form-control {
  padding: 1.3em;
  margin-bottom: 0.25em;
  font-size: 1.1em;
  border-width: 2px;
}

input.error {
  font-style: normal;
  background-color: rgba(255, 0, 0, 0.05);
  border-color: rgba(255, 0, 0, 0.4);
}

input + .error {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 400;
  font-style: italic;
  font-size: 0.95em;
}

/* ----- Message styles ----- */

.message {
  width: 100%;
  position: absolute;
  background-color: #0ead9a;

  transform: translateY(-52px);
  transform-style: preserve-3d;
  will-change: transform;

  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
}

.message--show {
  transform: translateY(0);
}

.message__content {
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.message__content___icon {
  white-space: nowrap;
  text-align: center;
  border: 2px solid;
  display: inline-block;
  border-radius: 50px;
  width: 2em;
  height: 2em;
  line-height: 2.7rem;
}

.message__content___description {
  margin-left: 2rem;
  font-size: 0.9em;
}

/* ----- Modal styles ----- */
.modal {
  display: none;
}

.modal__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(72, 100, 124, 0.8);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__box {
  background-color: white;
  box-shadow: 0 0 4px #666;
  min-width: 360px;
  text-align: center;
  padding: 5rem 8rem;
  box-sizing: border-box;
}

.modal__box___icon {
  font-size: 3em;
  border: 2px solid;
  display: inline-block;
  border-radius: 50px;
  width: 2em;
  height: 2em;
  color: #0ead9a;
}

.modal__box___icon i {
  margin-top: 0.5em;
}

.modal__box___title {
  font-weight: 600;
  font-size: 1.7em;
  margin-bottom: 0.5em;

  display: none;
}

.modal__box___description {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2em;
  margin-bottom: 2em;
}

/* ----- Button styles ----- */

.button__green {
  background-color: #0ead9a;
  border-width: 0;
  color: white;
  padding: 1rem;
  width: 250px;
  font-weight: 600;
  border-radius: 2em;
}

.button__green:focus, .button__green:hover  {
  outline-width: 0;
  opacity: 0.8;
}
